$black: #000000;
$dark-gray: #5E646A;
$gray: #83898F;
$mid-gray: #C2C8CD;
$light-gray: #ECEFF2;
$extra-light-gray: #F6F8FA;
$white: #FFFFFF;
$danger: #F13636;
$success: #25CD82;
$primary: #2A6CEA;
$primary-hover: #397DFF;
$primary-disabled: #ABCAE6;

$font-family: 'GraphikLCG', sans-serif;

$container-padding: 0.5rem;
$border-radius: 4px;
